/* MIXINS */
/* REM to PX fallback ******/
/* Quick set of :before and :after ******/
/* Input Placeholders ******/
/*************/
/* VARIABLES */
/* Z-idex */
/* LOGIN */
.login-page {
  margin-top: -60px;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8; }

@media screen and (min-width: 768px) {
  .login-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; } }
  .login-page .login-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
    text-align: center;
    padding-top: 160px; }

@media screen and (min-width: 992px) {
  .login-page .login-image {
    width: 33.3%; } }
    .login-page .login-image .logo {
      margin-left: auto;
      margin-right: auto;
      width: 200px; }

@media screen and (min-width: 1200px) {
  .login-page .login-image .logo {
    width: 240px; } }
      .login-page .login-image .logo img {
        width: 100%; }

@media screen and (max-width: 767px) {
  .login-page .login-image {
    display: none; } }

@media screen and (max-width: 767px) {
  .login-page .login-content {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 575px) {
  .login-page .login-content {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (min-width: 768px) {
  .login-page .login-content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; } }

@media screen and (min-width: 992px) {
  .login-page .login-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    padding-left: 10vw; } }
  .login-page .login-content .login-form {
    text-align: left;
    width: 100%;
    max-width: 380px; }

@media screen and (max-width: 767px) {
  .login-page .login-content .login-form {
    margin-left: auto;
    margin-right: auto;
    padding: 20% 0 40px; } }

@media screen and (max-width: 477px) {
  .login-page .login-content .login-form {
    padding: 40px 0; } }
    .login-page .login-content .login-form .title {
      font-weight: 700;
      font-size: 24px;
      font-size: 2.4rem;
      margin-bottom: 40px; }

@media screen and (min-width: 992px) {
  .login-page .login-content .login-form .title {
    margin-bottom: 50px; } }
    .login-page .login-content .login-form .form-group {
      margin-bottom: 20px; }
      .login-page .login-content .login-form .form-group .form-label {
        color: #1F2532;
        margin-bottom: 10px; }
      .login-page .login-content .login-form .form-group .form-control {
        font-weight: 300;
        padding-left: 20px;
        padding-right: 20px;
        color: #1F2532;
        height: 50px;
        font-size: 18px;
        font-size: 1.8rem; }

@media screen and (min-width: 1200px) {
  .login-page .login-content .login-form .form-group .form-control {
    height: 60px;
    font-size: 20px;
    font-size: 2rem; } }
        .login-page .login-content .login-form .form-group .form-control:focus {
          border-color: #8A909C;
          -webkit-box-shadow: 0 0 3px rgba(31, 37, 50, 0.2);
          -moz-box-shadow: 0 0 3px rgba(31, 37, 50, 0.2);
          box-shadow: 0 0 3px rgba(31, 37, 50, 0.2); }
    .login-page .login-content .login-form .button-row {
      margin-top: 40px; }
      .login-page .login-content .login-form .button-row .btn {
        width: 100%;
        text-transform: uppercase;
        height: 50px; }

@media screen and (min-width: 1200px) {
  .login-page .login-content .login-form .button-row .btn {
    height: 60px; } }
