.upload-popup{
	position:fixed;
	width:1150px;
	margin:0 auto;
	top:10px;
	left:50%;
	margin-left: -575px;
	z-index: 900;
	background-color: white;
	padding: 10px;
	display: none;
}
.upload-popup form{
	display:block;
	border:5px solid #000000;
	width:330px;
	height:160px;
	margin:0 auto;
	background:#ffffff;
}
#fosc_upload {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	background-color: #000000;
	position: fixed;
	z-index:800;
	top: 0px;
}

#crop {
    left: 30px;
    position: fixed;
    top: 10px;
	z-index: 700;
	padding: 10px;
	background: white;
	border: 1px solid black;
	 -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.jcrop-holder, .jcrop-tracker {
	z-index: 800 !important;
	float: left;
	margin-right: 20px;
}
#global_preview {
	float: left;
}
#preview {
  display: block;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
#global_preview .actions {
	margin-top: 10px;
}
#global_preview .actions input {
	display: block;
	margin-bottom: 5px;
	width: 150px;
}
#preview .preview-container {
	width: 250px;
	height: 170px;
	overflow: hidden;
}
.upload_crop_image {
	width: 100px;
	margin: 0 0 0 12px;
}





.ajax-file-upload { background-image:url(img/sprite_edi.png); background-repeat:no-repeat; }
.ajax-file-upload { float:left; width:2.0em; height:2.0em; margin-left:0.4em; }
.ajax-file-upload { display: block; }
.ajax-file-upload { background-image:url(img/sprite_edi.png); background-repeat:no-repeat; }
.ajax-file-upload { background-position:-30px -90px; }

.ajax-file-upload-statusbar {
	border: 1px solid #B9B9B9;
	margin: 25px 0 0 ;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
}
.ajax-file-upload-filename {
	width: 100%;
	height: auto;
	margin: 0 5px 5px 10px;
	color: #807579
}
.ajax-file-upload-progress {
	margin: 0 10px 5px 10px;
	position: relative;
	width: 140px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	display: inline-block
}
.ajax-file-upload-bar {
	background-color: #D3CE3D;
	width: 0;
	height: 10px;
	border-radius: 3px;
	color:#FFFFFF;
}
.ajax-file-upload-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%
}
.ajax-file-upload-red {
	-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
	-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
	box-shadow: inset 0 39px 0 -24px #e67a73;
	background-color: #e4685d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #b23e35;
	cursor: pointer;
	vertical-align: top;
	margin-right:5px;
}
.ajax-file-upload-green {
	background-color: #77b55a;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 15px;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 0 #5b8a3c;
	vertical-align: top;
	margin-right:5px;
}
/*.ajax-file-upload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;	
	line-height:20px;
	height:25px;
	margin:0 10px 10px 0;
	display: inline-block;
	background: #fff;
	border: 1px solid #e8e8e8;
	color: #888;
	text-decoration: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 2px 0 0 #e8e8e8;
	-webkit-box-shadow: 0 2px 0 0 #e8e8e8;
	box-shadow: 0 2px 0 0 #e8e8e8; 
	padding: 6px 10px 4px 10px; 
	color: #fff;
	background: #2f8ab9;
	border: none;
	-moz-box-shadow: 0 2px 0 0 #13648d;
	-webkit-box-shadow: 0 2px 0 0 #13648d;
	box-shadow: 0 2px 0 0 #13648d; 
	vertical-align:middle;  
 }*/
  
/*.ajax-file-upload:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop {
	border:2px dotted #A5A5C7;
	color: #DADCE3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
}*/